<!DOCTYPE html>
<html class='resume'>
<head>
	<meta charset="utf-8">
	<title>Miya Munsell</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<style type="text/css"></style>
</head>
<body class='resume'>
	<img class='resume-img' src='../img/bcg_slide-8.jpg' width=70%>  
</body>
</html>
